* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(25, 4, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

div {
    width: 100%;
    max-width: 300px;
    padding: 10px;
   
   
}

form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    
}

h1 {
    text-align: center;
    color: white;
    padding: 25px;
}

input {
   background-color: rgba(0, 0, 0, 0.342);
   color: antiquewhite;
   padding: 10px;
   border-radius: 10px;
   border: 2px solid rgb(60, 49, 70);
   
}

button {
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.8s;
    padding: 6px;
    font-size: 15px;
    border: none;
}

button:hover {
    background-color: transparent;
}

p {
    text-align: center;
    margin-top: 3.5rem;
    color: white;
}



